<h2>Select Your Favorite Genre</h2>

<form method="post">
    <select name="genre" class="form-control">
        <option>Fantasy</option>
        <option>Romance</option>
        <option>Horror</option>
        <option>Science Fiction</option>
        <option>Adventure</option>
    </select>

    <br />

    <button type="submit" class="btn btn-primary">
        Save Preference
    </button>
</form>