@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="mt-3">
    <a asp-controller="Books" asp-action="PublishRequests" class="btn btn-warning">
        View Publish Requests
    </a>
</div>

<div class="mt-3">
    <a asp-controller="Store" asp-action="Index" class="btn btn-primary">
        View Store
    </a>
</div>