@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="mt-3">
    <a asp-controller="Books" asp-action="PublishRequests" class="btn btn-warning">
        View Publish Requests
    </a>
</div>

<div class="mt-3">
    <a asp-controller="Admin" asp-action="Reported" class="btn btn-danger">
        View Reported Books
    </a>
</div>

<div class="mt-3">
    <a asp-controller="Admin" asp-action="Halted" class="btn btn-dark">
        View Halted Books
    </a>
</div>

<div class="mt-3">
    <a asp-controller="Store" asp-action="Index" class="btn btn-primary">
        View Store
    </a>
</div>